.container{
    margin: auto;
}

.card{
  max-width: 600px;
  min-width: 400px;
  max-height: 700px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 60%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;

}

.title{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 2rem 0;
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 1.5rem;
}

.img-logo{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2rem 0;
    font-size: 2rem;
}

.img-logo-meta{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 2rem 0;
    font-size: 2rem;
}

.progressbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 2rem 0;
    font-size: 2rem;
}